**/node_modules
**/.next
**/bin
**/obj
**/.git
**/.vscode
**/.DS_Store
**/*.pdf
**/*.zip
**/*.log
**/*.db
**/*.db-shm
**/*.db-wal
docs/
screenshots/
reports/
tmp/
ansible/
coolify/
imports/
styles/
vscode/
aspnetcore/
chromium/
cli/
containerd/
gitlabhq/
grafana/
jenkins/
kubernetes/
linux/
moby/
mono/
mysql-server/
prometheus/
reactos/
terraform/
.dotnet/
apps/web/node_modules/
apps/web/.next/
apps/api/bin/
apps/api/obj/
