:80 {
  encode gzip

  reverse_proxy /api/* api:8080
  reverse_proxy /hubs/* api:8080
  reverse_proxy /uploads/* api:8080
  reverse_proxy /health api:8080
  reverse_proxy /ready api:8080

  reverse_proxy web:3000
}


